
<div class="main">
    <p *ngIf="isClicked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
    </p>
    <button (click)="hide()">Hide</button>

    <div *ngIf="users">
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>Main Info<span class="w3-badge">{{ counter }}</span></th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>

                <app-main-info [user]="user" [counter]="counter" (count)="onCount()"></app-main-info>

            </tr>
        </table>
    </div>
</div>








