
  .flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .flex-container > div {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  
